---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Who am I and what is this site about?",
	title: "About me",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About me</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I'm Federico and this site is my little corner of the internet where I blog about
			Microsoft 365, Azure, Power Platform and all things related to modern work :)
		</p>
		<p>
			I love sharing knowledge and helping others make the most of these powerful tools. Whether
			you're a beginner or an experienced professional, I hope you'll find something useful here.
		</p>
		<p>
			I publish also on Linkedin, feel free to follow me there for more updates: <a
				href="https://www.linkedin.com/in/federicotosetto/"
				target="_blank">@federicotosetto</a
			>.
			<p>
				When I'm not writing you can find me running, swimming or cycling around beautiful places in
				Italy and beyond.
			</p>
			<p>Thanks for stopping and happy reading!</p>
		</p>
	</div>
</PageLayout>
