---
import { type CollectionEntry, getCollection } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts.sort(collectionDateSort) as CollectionEntry<"post">[];
const latestPosts = allPostsByDate.slice(0, MAX_POSTS);

// Pinned Posts, set to a max of 3;
const MAX_PINNED_POSTS = 3;
const pinnedPosts = allPostsByDate.filter((p) => p.data.pinned).slice(0, MAX_PINNED_POSTS);

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes
	.sort(collectionDateSort)
	.slice(0, MAX_NOTES) as CollectionEntry<"note">[];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-12">Hello world! Microsoft enthusiast</h1>
		<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I'm Federico and this site is my little corner of the internet where I blog about
			Microsoft 365, Azure, Power Platform and all things related to modern work :)
		</p>
		<p>
			I love sharing knowledge and helping others make the most of these powerful tools. Whether
			you're a beginner or an experienced professional, I hope you'll find something useful here.
		</p>
		<p>
			I publish also on Linkedin, feel free to follow me there for more updates: <a
				href="https://www.linkedin.com/in/federicotosetto/"
				target="_blank">@federicotosetto</a
			>.
			<p>
				When I'm not writing you can find me running, swimming or cycling around beautiful places in
				Italy and beyond.
			</p>
			<p>Thanks for stopping and happy reading!</p>
		</p>
	</div>
		{
			pinnedPosts.length > 0 && (
				<section class="mt-16">
					<h2 class="title mb-6 text-xl">Pinned Posts</h2>
					<ul class="space-y-4" role="list">
						{pinnedPosts.map((p) => (
							<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</section>
			)
		}
		<section class="mt-16">
			<h2 class="title text-accent mb-6 text-xl"><a href="/posts/">Posts</a></h2>
			<ul class="space-y-4" role="list">
				{
					latestPosts.map((p) => (
						<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
		{
			latestNotes.length > 0 && (
				<section class="mt-16">
					<h2 class="title text-accent mb-6 text-xl">
						<a href="/notes/">Notes</a>
					</h2>
					<ul class="space-y-6" role="list">
						{latestNotes.map((note) => (
							<li>
								<Note note={note} as="h3" isPreview />
							</li>
						))}
					</ul>
				</section>
			)
		}
	</section>
</PageLayout>
